body {
  font-family: "Roboto Slab";
  margin: 90px;
  background-color:rgb(203, 231, 238);
}
h1 {
  font-size: 60px;
}
h2 {
  text-align: center;
  font-size: 50px;
}
h3{
    font-size: 30px;
}
.title-1 {
  color: rgb(25, 25, 133);
}
.title-2 {
  color: rgb(244, 168, 96);
}
.orange-color {
  color: orange;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(rgb(255, 174, 0), tomato);
  padding: 8px 30px;
  border-radius: 7px;
  color: white;
  font-weight: 400;
}
#title {
  border-left: 4px solid;
  border-radius: 10px;
  border-left-color: orange;
  padding-left: 10px;
}
.half-width img {
  width: 80%;
  padding-left: 50px;
}

.half-width {
  size: 50%;
  padding: 5%;
  max-width: 50%;
  width: 80%;
  padding: auto;
}
.flexable-container {
  display: flex;
}

#backcolor-1{
    background-color: rgb(197, 242, 243);
}

#backcolor-2{
    background-color: rgb(245, 215, 215);
}

#backcolor-3{
    background-color: rgb(222, 210, 245);
}
.Experice-item img{
    width: 60%;
}
.flaxible-container-2{
    display: flex;
    margin: 10px;
}
.Experice-item{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 20px;
}
.top-banner{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 200px
}
.community{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position:bottom right;
    background-size: 200px
}
#spider{
  padding-left: 200px;
  color:mediumslateblue;
  font-size: 50px;
}
#special{
  color:coral;
}
#skill{
  color:coral;
  text-align: left;
}
li{
  color:darkslategray;
  padding-left: 20px;
}
.spider-man img{
  width: 100%;
  padding-left: 50px;
}
.experience{
  width: 50%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 20px;
    border-radius: 20px;
    box-shadow:10px 10px 20px gray;
}
#heading1{
  color: slateblue;
}
#heading2{
  color: palevioletred;
}
#heading3{
  color: orange;
}
#spider-titli{
  padding-left: 50px;
  color: teal;
}
.foot{
  padding: 1%;
  text-align: center;
  font-weight: 400px;
  color:darkcyan;
  background-color: black;
}
.color-1{
  color: cornflowerblue;
}
.color-2{
  color: darksalmon;
}
#footer-font{
  font-family:cursive;
}

